/* app css stylesheet */
.hoverwell:hover {
  background-color: #485563;
    cursor: pointer;
    /*background-color: #0852a1;
    border: 2px solid red;
    border-radius: 5px;*/
}

.container {
  padding-top: 10px;
  /*background-color : #ffffff ;
  background-image : url("/app/assets/images/boceto-web.jpg");

  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;*/
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

/*button {
  color: #555;
}*/

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}